{% extends 'base.html' %} 
 
{% block content %} 
  <h1>Community</h1> 
  <hr> 
  {% for review in reviews %} 
    <p>작성자 : <a href="{% url 'accounts:profile' review.user.username %}">{{ review.user }}</a></p> 
    <p>글 번호: {{ review.pk }}</p> 
    <p>글 제목: {{ review.title }}</p> 
    <p>글 내용: {{ review.content }}</p> 
 
 
    <form class="like-form" data-review-id="{{ review.pk }}"> 
      {% csrf_token %} 
      {% if request.user in review.like_users.all %} 
        <button id="like-{{ review.pk }}">좋아요 취소</button> 
      {% else %} 
        <button id="like-{{ review.pk }}">좋아요</button> 
      {% endif %} 
    </form> 
    <p> 
      <span id="like-count-{{ review.pk }}">{{ review.like_users.all|length }}</span> 명이 이 글을 좋아합니다.
    </p> 
 
     
    <a href="{% url 'community:detail' review.pk %}">[detail]</a> 
    <hr> 
  {% endfor %} 
{% endblock %}

{% block script %} 
  <script> 
    const forms = document.querySelectorAll(".like-form"); 
    const csrftoken = document.querySelector("[name=csrfmiddlewaretoken]").value; 
    forms.forEach((form) => { 
      form.addEventListener("submit", function (event) { 
        event.preventDefault(); 
        const reviewId = event.target.dataset.reviewId; 
        axios({ 
          method: "post", 
          url: `/community/${reviewId}/like/`, 
          headers: { "X-CSRFToken": csrftoken }, 
        }).then((response) => { 
          const liked = response.data.liked; 
          const count = response.data.count; 
          const likeButton = document.querySelector(`#like-${reviewId}`); 
          const likeCount = document.querySelector(`#like-count-${reviewId}`); 
          if (liked === true) { 
            likeButton.innerText = "좋아요 취소"; 
          } else { 
            likeButton.innerText = "좋아요"; 
          } 
          likeCount.innerText = count; 
        }); 
      }); 
    }); 
  </script> 
{% endblock script %}